* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #3e4560;
    color: white;
    user-select: none;
}

.container {
    display: block;
    padding: 0 10px;
    max-width: 320px;
    margin: 30px auto;
}

.title {
    margin: 20px 0;
    color: #d6d5ac;
}

p {
    margin: 5px 0;
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
}

input[type="range"] {
    cursor : pointer;
}

input[type="text"]{
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #c6d5ac;
    margin-bottom: 25px;
    text-shadow: 1px 1px 4px black;
}

#alteredColor{
    color: black;
}

.toggle-text {
    font-size: 18px;
}

.toggle {
    display: flex;
    align-items: center;
    margin-bottom: 10px
}

.toggle-btn {
    height: 30px;
    width: 60px;
    background-color: gray;
    border-radius: 30px;
    padding: 5px;
    margin: 0 10px;
    cursor : pointer;
}

.inner-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: all 250ms;
}

.toggle-btn.toggled > .inner-circle {
    transform: translateX(30px);
    background-color: #333;
}

.unselected {
    opacity: 0.25;
}

.freepik > a {
    color: red;
}

